<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../../static/css/main.css" rel="stylesheet">
	<link href="../../../static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="../../../static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="../../../static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
</head>

<body onload="datepicker();setTimeOut();">	
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">客户管理</a>/<a href="#">客户维护管理</a>/<a href="#">客户维护台账</a>
		</div>	
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">搜索</span>
			<form>
				<table class="table-list">
					<tr>
						<td class="table-label">客户号</td>
						<td>
							<input type="text" name=""/>
						</td>
						<td class="table-label">客户名称</td>
						<td>
							<input type="text" name=""/>
						</td>
						<td class="table-label">维护时间</td>
						<td>
							<input type="text" name=""/>
						</td>						
					</tr>
				</table>
				<input type="button" class="btn btn-info" value="搜索"/>													
			</form>
			<i class="icon-bookmark"></i><span class="titletip">进件列表</span>
			<div>				
				<table class="table-list">
					<thead>
						<tr>									
							<th>客户号</th>
							<th>客户名称</th>
							<th>维护时间</th>
							<th>维护方式</th>
							<th>维护原因</th>
							<th>维护目标</th>
						</tr>
					</thead>
					<tbody class="center">						
						<tr onclick="changeColor(this)">			
							<td><a href="#" onclick="iframe('Khgl/khwhxxgl/lrwhbg')">01</a></td>	
							<td>王军忠</td>	
							<td>2014-05-06</td>
							<td>上门维护</td>	
							<td>信息不全</td>	
							<td>补全信息</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="page-div">				
				<span style="CURSOR: pointer">&lt;&lt;</span>
				&#160;第&#160;<font color="#0088cc">1</font>&#160;页&#160;
				&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;
				<span style="CURSOR: pointer">&gt;&gt;</span>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../../static/js/bootstrap-datepicker.js"></script>
	<script src="../../../static/js/bootstrap.min.js"></script>
	<script src="../../../static/js/script.js"></script>
</body>
</html>
