<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../../static/css/main.css" rel="stylesheet">
	<link href="../../../static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="../../../static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="../../../static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
</head>

<body onload="datepicker();setTimeOut();">	
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">进件管理</a>/<a href="#">多渠道数据采集</a>/<a href="#">批量客户数据录入</a>
		</div>	
		<form>
			<table class="table-list">
				<tr>
					<td class="table-label">选择文件</td>
					<td>
						<input type="file" name=""/>
					</td>
				</tr>
			</table>
			<input type="button" class="btn btn-info" value="搜索"/>													
		</form>
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">客户列表</span>
			<div>				
				<table class="table-list">
					<thead>
						<tr>									
							<th>客户名称</th>
							<th>证件类型</th>
							<th>证件号码</th>
							<th>地址</th>							
							<th>电话</th>
							<th>操作</th>
						</tr>
					</thead>
					<tbody class="center">						
						<tr onclick="changeColor(this)">						
							<td>王军忠</td>	
							<td>身份证</td>
							<td>320546215025562014</td>	
							<td>天宁区关和东路66号</td>	
							<td>051983291468</td>
							<td><input type="button" class="btn btn-info" value="上传"/></td>	
						</tr>	
						<tr onclick="changeColor(this)">						
							<td>吕淑珍</td>	
							<td>身份证</td>
							<td>320546215025562014</td>	
							<td>天宁区红梅街道</td>	
							<td>051989562258</td>	
							<td><input type="button" class="btn btn-info" value="上传"/></td>	
						</tr>	
						<tr onclick="changeColor(this)">						
							<td>金亮</td>	
							<td>警官证</td>
							<td>320546215025562014</td>	
							<td>钟楼区五星街道</td>	
							<td>15064414502</td>	
							<td><input type="button" class="btn btn-info" value="上传"/></td>	
						</tr>	
						<tr onclick="changeColor(this)">						
							<td>唐琳君</td>	
							<td>身份证</td>
							<td>320546215025562014</td>	
							<td>钟楼区五星街道</td>	
							<td>12365980154</td>	
							<td><input type="button" class="btn btn-info" value="上传"/></td>	
						</tr>	
					</tbody>
				</table>
			</div>
			<div class="page-div">				
				<span style="CURSOR: pointer">&lt;&lt;</span>
				&#160;第&#160;<font color="#0088cc">1</font>&#160;页&#160;
				&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;
				<span style="CURSOR: pointer">&gt;&gt;</span>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../../static/js/bootstrap-datepicker.js"></script>
	<script src="../../../static/js/bootstrap.min.js"></script>
	<script src="../../../static/js/script.js"></script>
</body>
</html>
