<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../../static/css/main.css" rel="stylesheet">
	<link href="../../../static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="../../../static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="../../../static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
</head>

<body onload="">	
	<form class="content">
		<table class="table-list">
			<tr class="center">
				<td class="table-label" colspan="8"><b>基本情况</b></td>
			</tr>	
			<tr>
				<td class="table-label">姓名</td>
				<td style="width:130px;">王军忠</td>	
				<td class="table-label">身份证号码</td>
				<td colspan="3">3204041698562356869</td>
				<td class="table-label">移动电话</td>
				<td>139205648956</td>	
			</tr>	
			<tr>
				<td class="table-label">店铺/公司名称变更</td>
				<td colspan="5"><input type="text" value="九州环宇大酒店"/></td>	
				<td class="table-label">家庭人数变更</td>
				<td><input type="text" value="3"/></td>	
			</tr>				
			<tr>
				<td class="table-label">营业执照变更</td>
				<td colspan="3"><input type="text" value=""/></td>
				<td class="table-label">经营场所面积变更</td>
				<td><input type="text" value=""/></td>	
				<td class="table-label">雇员人数变更</td>
				<td><input type="text" value=""/></td>	
			</tr>				
			<tr>
				<td class="table-label">组织类型</td>
				<td>
					<label><input type="radio" value=""/>个体</label>
					<label><input type="radio" value=""/>企业</label>
				</td>
				<td class="table-label">股东占比变更</td>
				<td><input type="text" value=""/></td>	
				<td class="table-label">法定代表人实际控制人变更</td>
				<td><input type="text" value=""/></td>		
				<td class="table-label">主营业务经营范围变更</td>
				<td><input type="text" value=""/></td>	
			</tr>	
			<tr>
				<td class="table-label">经营场所类型变更</td>
				<td colspan="7"><input type="text" value=""/></td>	
			</tr>		
			<tr>
				<td class="table-label">实际经营地址变更</td>
				<td colspan="5"><input type="text" value=""/></td>		
				<td class="table-label">户口所在地变更</td>
				<td><input type="text" value=""/></td>		
			</tr>		
			<tr>
				<td class="table-label">房产地址1变更</td>
				<td colspan="3"><input type="text" value=""/></td>		
				<td class="table-label">房产地址2变更</td>
				<td colspan="3"><input type="text" value=""/></td>		
			</tr>		
			<tr>
				<td class="table-label">户名变更</td>
				<td><input type="text" value=""/></td>		
				<td class="table-label">主要账户变更</td>
				<td colspan="3"><input type="text" value=""/></td>	
				<td class="table-label">开户行变更</td>
				<td><input type="text" value=""/></td>		
			</tr>			
			<tr>
				<td class="table-label">户名变更</td>
				<td><input type="text" value=""/></td>		
				<td class="table-label">主要账户变更</td>
				<td colspan="3"><input type="text" value=""/></td>	
				<td class="table-label">开户行变更</td>
				<td><input type="text" value=""/></td>		
			</tr>
			<tr class="center">
				<td class="table-label" colspan="8"><b>担保人变更</b></td>
			</tr>
			<tr>
				<td class="table-label">姓名</td>
				<td><input type="text" value=""/></td>		
				<td class="table-label">身份证号码</td>
				<td colspan="3"><input type="text" value=""/></td>
				<td class="table-label">移动电话</td>
				<td><input type="text" value=""/></td>		
			</tr>
			<tr>
				<td class="table-label">与客户关系</td>
				<td><input type="text" value=""/></td>		
				<td class="table-label">家庭地址</td>
				<td colspan="3"><input type="text" value=""/></td>
				<td class="table-label">家庭电话</td>
				<td><input type="text" value=""/></td>		
			</tr>
			<tr>
				<td class="table-label">住房性质</td>
				<td colspan="3">
					<select>
						<option>自有产权在按揭</option>
						<option>自有产权无按揭</option>
						<option>小产权</option>
						<option>租用</option>
						<option>其他</option>
					</select>
				</td>
				<td class="table-label">婚姻状况</td>
				<td colspan="3">
					<select>
						<option>离异</option>
						<option>已婚</option>
						<option>未婚</option>
					</select>
				</td>	
			</tr>
			<tr>
				<td class="table-label">单位名称</td>
				<td colspan="2"><input type="text" value=""/></td>		
				<td class="table-label" colspan="2">主营业务/职务</td>
				<td><input type="text" value=""/></td>
				<td class="table-label">月收入(元)</td>
				<td><input type="text" value=""/></td>		
			</tr>
			<tr>
				<td class="table-label">单位地址</td>
				<td colspan="5"><input type="text" value=""/></td>	
				<td class="table-label">户口所在地(元)</td>
				<td><input type="text" value=""/></td>		
			</tr>
			<tr class="center">
				<td class="table-label" colspan="8"><b>申请信息变更</b></td>
			</tr>
			<tr>
				<td class="table-label">拟申请金额(元)</td>
				<td><input type="text" value=""/></td>			
				<td class="table-label">申请期限(月)</td>
				<td><input type="text" value=""/></td>	
				<td class="table-label">资金用途</td>
				<td colspan="3"><input type="text" value=""/></td>	
			</tr>
			<tr>
				<td class="table-label">资金需求总额</td>
				<td><input type="text" value=""/></td>			
				<td class="table-label">自有资金</td>
				<td><input type="text" value=""/></td>	
				<td class="table-label">其他资金来源</td>
				<td colspan="3"><input type="text" value=""/></td>	
			</tr>
			<tr class="center">
				<td class="table-label" colspan="8"><b>信用报告变更</b></td>
			</tr>
			<tr>
				<td class="table-label">贷款笔数</td>
				<td><input type="text" value=""/></td>			
				<td class="table-label">贷款还款期数</td>
				<td><input type="text" value=""/></td>	
				<td class="table-label">其他内容</td>
				<td colspan="3"><input type="text" value=""/></td>	
			</tr>
			<tr class="center">
				<td class="table-label" colspan="8"><b>详细情况变更</b></td>
			</tr>
			<tr>
				<td class="table-label">还款能力分析</td>
				<td colspan="7"><textarea></textarea></td>	
			</tr>
			<tr>
				<td class="table-label">生存状况分析</td>
				<td colspan="7"><textarea></textarea></td>	
			</tr>
			<tr>
				<td class="table-label">道德品质分析</td>
				<td colspan="7"><textarea></textarea></td>	
			</tr>
			<tr>
				<td class="table-label">风险防范分析</td>
				<td colspan="7"><textarea></textarea></td>	
			</tr>
			<tr>
				<td class="table-label">客户验证</td>
				<td colspan="7"><textarea></textarea></td>	
			</tr>
			<tr>
				<td class="table-label">客户需求分析</td>
				<td colspan="7"><textarea></textarea></td>	
			</tr>
			<tr class="center">
				<td class="table-label" colspan="8"><b>授信建议</b></td>
			</tr>
			<tr>
				<td class="table-label">建议金额</td>
				<td><input type="text" value=""/></td>			
				<td class="table-label">建议理由</td>
				<td colspan="5"><input type="text" value=""/></td>	
			</tr>
		</table>
		<input type="submit" class="btn btn-info" value="提交"/>
	</form><!--/content -->
	
	<script src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../../static/js/bootstrap-datepicker.js"></script>
	<script src="../../../static/js/bootstrap.min.js"></script>
	<script src="../../../static/js/script.js"></script>
</body>
</html>
