<!DOCTYPE html>
<html lang="zh-cn">
<head>	
	<meta charset="utf-8">
	<title>小微贷款业务管理系统</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="Charisma, a fully featured, responsive, HTML5, Bootstrap admin template.">
	<meta name="author" content="Muhammad Usman">

	<!-- The styles -->
	<link href="../../../static/css/bootstrap.css" rel="stylesheet">
	<link href="../../../static/css/main.css" rel="stylesheet">
	<link href="../../../static/css/datepicker.css" rel="stylesheet">
	<!-- ************************验证样式************************-->
	<script src="../../../static/SpryAssets/SpryValidationTextField.js" type="text/javascript"></script>
	<link href="../../../static/SpryAssets/SpryValidationTextField.css" rel="stylesheet" type="text/css">
</head>

<body onload="datepicker();setTimeOut();">	
	<div class="content">
		<div class="well place">			
			<i class="icon-home"></i><a href="#">综合风险管理</a>/<a href="#">风险事项管理</a>/<a href="#">风险事项上传</a>
		</div>	
		
		<div class="row-fluid">
			<i class="icon-bookmark"></i><span class="titletip">风险事项列表</span>
			<div style="margin-bottom:5px;">
				<a type="button" class="btn btn-info" href="#" onclick="iframe('Zhfxgl/fxsxgl/new_fxsxsc')">新增</a>		
			</div>
			<div>				
				<table class="table-list">
					<thead>
						<tr>									
							<th>风险事项描述</th>
							<th>风险事项等级</th>
							<th>信息渠道</th>
							<th>创建时间</th>
							<th>操作</th>		
						</tr>
					</thead>
					<tbody class="center">						
						<tr onclick="changeColor(this)">						
							<td><a href="#" onclick="iframe('Zhfxgl/fxsxgl/edit_fxsxsc')">信息不符</a></td>	
							<td>一级</td>
							<td>行内信息</td>
							<td>2014-05-16</td>
							<td><input type="button" class="btn btn-danger btn-mini" value="删除"/></td>
						</tr>	
					</tbody>
				</table>
			</div>
			<div class="page-div">				
				<span style="CURSOR: pointer">&lt;&lt;</span>
				&#160;第&#160;<font color="#0088cc">1</font>&#160;页&#160;
				&#160;共&#160;<font color="#0088cc">1</font>&#160;页&#160;
				<span style="CURSOR: pointer">&gt;&gt;</span>
			</div>
		</div><!--/row-fluid -->
	</div><!--/content -->
	
	<script src="../../../static/js/jquery-1.7.2.min.js"></script>
	<script src="../../../static/js/bootstrap-datepicker.js"></script>
	<script src="../../../static/js/bootstrap.min.js"></script>
	<script src="../../../static/js/script.js"></script>
</body>
</html>
